/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#eee;
	--color-background:#111;
}

/****************/
/* JOUW STYLING */
/****************/
img {
	width: 25vw;
}

button {
	text-transform: uppercase;
	border-radius: 5em;
}

h2 {
	text-transform: uppercase;
}

p {
	text-transform: uppercase;
}

p em {
	text-transform: capitalize;
}

